<md-toolbar color="primary">
  <span>Tesztelő - Hátra van: {{ appState.remainingCount }}</span>

  <span class="fill-remaining"></span>

  <button md-raised-button="" [routerLink]=" ['History'] ">Összes</button>

  <button md-raised-button="" [routerLink]=" ['Recent'] " color="warn">Legutóbbiak</button>
</md-toolbar>

<div class="md-content">
  <question-card *ngIf="currentTaskIsQuestion" [question]="appState.currentTask"
                 (answer)="onQuestionAnswer($event)"></question-card>

  <association-card *ngIf="currentTaskIsAssociation" [task]="appState.currentTask"
                    (answer)="onAssociation($event)"></association-card>

</div>
