<md-card>
  <md-card-subtitle>{{ task.id }}</md-card-subtitle>
  <md-card-title [innerHTML]="task.text"></md-card-title>

  <md-card-content>

    <table>
      <tr *ngFor="#item of task.items;#itemIndex = index">
        <td [innerHTML]="item.text"></td>

        <td [width]="task.legends.length * 65 + 'px'">
          <md-radio-group [(ngModel)]="options[itemIndex]" [disabled]="chosen">
            <md-radio-button *ngFor="#option of task.legends" [value]="option.letter" class="md-primary"
                             [ngClass]="{
                               good: chosen && option.letter == item.match,
                               bad: chosen && option.letter != item.match && option.letter == chosen[itemIndex],
                               off: chosen && option.letter != item.match && option.letter != chosen[itemIndex]
                               }">
              {{option.letter}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td *ngIf="chosen" [innerHTML]="legendFor(item.match)"></td>

      </tr>
    </table>

  </md-card-content>
</md-card>

<md-card>
  <md-card-subtitle>Jelmagyarázat</md-card-subtitle>
  <md-card-content>
    <p *ngFor="#option of task.legends">
      <b>{{option.letter}})</b> <span [innerHTML]="option.text"></span>
    </p>

  </md-card-content>

  <md-card-actions layout="column" layout-align="start">
    <ng-content></ng-content>
  </md-card-actions>

</md-card>
