<md-toolbar color="primary">
  <span>Tesztelő / Megoldottak ({{appState.solvedTasks.length}} db.)</span>

  <span class="fill-remaining"></span>

  <button md-raised-button="" [routerLink]=" ['Quiz'] ">Folytatás</button>
</md-toolbar>

<div class="md-content">

  <md-card>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="#answer of appState.solvedTasks;#index = index">
          <h3 md-line [style.color]="getStyle(answer)">{{ answer.task.id }}</h3>
          <p md-line>
            <span class="list-sub-title">{{ answer.task.text }}</span>
          </p>
          <button md-raised-button (click)="moveItBack(index)">Újra</button>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>

  <!--<div *ngFor="#answer of appState.solvedTasks">-->
  <!--<question-card *ngIf="isQuestion(answer)" [question]="answer.task" [chosen]="answer.answerLetter"></question-card>-->
  <!--<association-card *ngIf="isAssociation(answer)" [task]="answer.task"-->
  <!--[chosen]="answer.answerLetters"></association-card>-->
  <!--</div>-->

</div>
