<md-toolbar color="primary">
  <span>Tesztelő / Legutóbb megoldottak</span>

  <span class="fill-remaining"></span>

  <button md-raised-button="" (click)="onContinue()" color="accent">Folytatás</button>
</md-toolbar>

<div class="md-content">
  <div *ngFor="#answer of appState.recentlySolvedTasks">
    <question-card *ngIf="isQuestion(answer)" [question]="answer.task" [chosen]="answer.answerLetter"></question-card>
    <association-card *ngIf="isAssociation(answer)" [task]="answer.task"
                      [chosen]="answer.answerLetters"></association-card>
  </div>

</div>
